.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.box {
    
    background-color: rgba(33, 29, 29, 0.881);
    display: flex;
    align-items: center;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 5px;
}

h1 {
    color: rgba(255, 68, 0, 0.886);
    margin: 40px 0 25px;
}

.main {
    width: 100%;
}

.form {    
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin: 12px 0 40px;
}

.inputTask {
    color: rgb(158, 157, 157);
    width: 100%;
    padding: 0px 24px;
    height: 60px;
    background-color: rgba(152, 152, 152, 0.208);
    border-radius: 5px;
    border:none;
    font-size: 16px;
    outline: none;
}

.inputTask::placeholder{
    color: rgb(158, 157, 157);
}

.inputTask:focus {
    outline: solid;
    outline-color: rgba(255, 68, 0, 0.886);
}

.button {
    width: 60px;
    height: 60px;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(255, 68, 0, 0.886);
    border-radius: 5px;
    border: none;
    color: white;
    margin-left: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background-color: orangered;
    color: rgb(214, 213, 213);
}

@media screen and (max-width:540px){
    .box {
        width: 95%;
    }

    h1 {
        font-size: 30px;
    }

    input {
        font-size: 15px;
    }

}