.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: rgba(255, 68, 0, 0.886);
    margin: 70px 0 25px;
}

input {
    color:  rgba(74, 74, 73, 0.886);
    width: 50%;
    padding: 24px;
    background-color: rgba(152, 152, 152, 0.208);
    border-radius: 5px;
    border:none;
    font-size: 16px;
}

textarea:focus, input:focus {
    outline-color: rgba(255, 68, 0, 0.886);
}

button {
    width: 30%;
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(255, 68, 0, 0.886);
    border-radius: 5px;
    border: none;
    color: white;
    margin: 12px 0 70px;cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: orangered;
}