
.box {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    /* opacity: 1; */
}

h1 {
    color: rgba(255, 68, 0, 0.886);
    margin: 70px 0 25px;
}

input {
    color:  rgba(74, 74, 73, 0.886);
    width: 100%;
    padding: 0px 24px;
    height: 60px;
    background-color: rgba(152, 152, 152, 0.208);
    border-radius: 5px;
    border:none;
    font-size: 16px;
}

textarea:focus, input:focus {
    outline-color: rgba(255, 68, 0, 0.886);
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin: 12px 0 40px;
}

.button {
    width: 60px;
    height: 60px;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(255, 68, 0, 0.886);
    border-radius: 5px;
    border: none;
    color: white;
    margin-left: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background-color: orangered;
    color: rgb(214, 213, 213);
}